ul {
    list-style: none;
    padding: 0;
}

.disabled {
    pointer-events: none;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    padding: .9375rem;
    margin: .9375rem 0;
}

.location .btn {
    position: absolute;
    display: none;
}

.location:hover .btn {
    display: block;
}

.location .btn-warning {
    left: 1rem;
}

.location .btn-danger {
    right: 1rem;
}

.add {
    display: block;
    margin: auto;
}

.save, .cancel {
    margin-top: .9375rem;
    margin-right: .9375rem;
}

.modal-content {
    padding: .9375rem;
}

.modal.in {
    display: block;
    background-color: rgba(0, 0, 0, .4);
}